<a href="https://colab.research.google.com/github/Itai1991Ortner/Machine-Learning/blob/main/extreme_nested_json_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json
from collections import defaultdict
import os

In [4]:
# loading the json file into a variable
with open('COST_LIST_RUS_27052021_1918.json') as f:
  json_data=json.load(f)

In [ ]:
# reccursion method that creates a huge list matrix that has 2 columns: 0 is all the keys and 1 is the values
#everythins with seperation of '.' if the instance is dictionary type and ' ' if as list type
fix_list=[]
def normalize_json(json_data,prefix=''):
  if isinstance(json_data,dict):
    for dict_key,dict_val in json_data.items():
      p='{}.{}'.format(prefix,dict_key)
      normalize_json(dict_val,p)
  elif isinstance(json_data,list):
    for i,list_val in enumerate(json_data):
      p='{}{}'.format(prefix,i)
      normalize_json(list_val,p)
  else:
    fix_list.append(['{}'.format(prefix),json_data])

  return fix_list
  
normalize_json(json_data)

In [9]:
# this methods makes the larger list to more compactive
# it makes prior list to two small lists contain the former key feature(flight) with the other dict keys
# and the same flight key with the values of the dict by that we all can figure the connection between keys and values
def find_index_keys_or_values(json_data):
  index_keys,index_values=[],[]
  for j in normalize_json(json_data):
    index_keys.append(j[0].split('.')[1:])
    index_values.append((j[0].split('.')[1],j[1]))

  return index_keys,index_values


index_keys,index_values=find_index_keys_or_values(json_data)

In [18]:
df_1=pd.DataFrame(index_keys,columns=['flight','date','type','grid_num','is_direct','last_col'])
df_2=pd.DataFrame(index_values,columns=['Flight','val'])
df=pd.concat([df_1,df_2],axis=1,join='inner').drop(columns=['Flight'],axis=1)
df

         flight     date  ... last_col                                      val
0      AER/EKAT  2021-05  ...     None  202105261132*I*VVO*ROV*20210529*ssev*S7
1      AER/EKAT  2021-05  ...     None  202105262353*I*VVO*ROV*20210530*ssev*S7
2      AER/EKAT  2021-05  ...     None  202105270630*I*VVO*ROV*20210531*ssev*S7
3      AER/EKAT  2021-05  ...     None                                    False
4      AER/EKAT  2021-05  ...     None                                    False
...         ...      ...  ...      ...                                      ...
89995  VLAD/ROV  2022-05  ...     None                                    False
89996  VLAD/ROV  2022-05  ...     None                                    False
89997  VLAD/ROV  2022-05  ...     None                                    False
89998  VLAD/ROV  2022-05  ...     None                                    False
89999  VLAD/ROV  2022-05  ...     None                                    False

[90000 rows x 7 columns]

In [ ]:
# def list_to_dict_again(index_keys):
#   rr=[]
#   for i in range(len(index_keys)-1):
#     if index_keys[i][0]==index_keys[i+1][0]:
#       rr.append((index_keys[i][0],index_keys[i][1:]))

#   d = defaultdict(list)
#   for i,j in rr:
#     d[i].extend(j)
#   return d
# index_keys_sep=list_to_dict_again(index_keys)